.top-bar {
    -fx-background-color: linear-gradient(to bottom, #ffe680, #ffd700);
    -fx-padding: 8px 16px;
    -fx-spacing: 10px;

    /* Bordo solo a destra, sinistra e in basso */
    -fx-border-color: transparent #b8860b #b8860b #b8860b;
    -fx-border-width: 0 2px 2px 2px; /* top, right, bottom, left */
    -fx-border-style: solid;
    -fx-border-insets: 0;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 2);
}

.top-bar .label {
    -fx-font-family: "Impact";
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}
